body{

    background-color: #c5fffb;
    font-family: 'Roboto', sans-serif;
    font-size: 18px
}


/*css reset*/

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
}

h1,
h2,
h3{
    padding: .2em 0;
    font-family: 'Roboto Mono', monospace;
}

p {
    margin:  1.8em 0;
    text-indent: 20px;
    line-height: 1.8em;
}

a {
    font-family: 'Roboto Mono', monospace;
}

header,
nav,
main,
footer{
    padding: 1.5em;
    border: 1px black solid;
    
}


header,
footer{
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(175,222,176);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
    1fr     2fr     1fr;
    grid-template-areas: 
    "header1 header1 header1"
    "nav1 nav1 nav1"
    "main1 main1 main1"
    "main1 main1 main1"
    "main1 main1 main1"
    "foot1 foot1 foot1";
}

header{grid-area: header1; background: 00ffff;}
nav{grid-area: nav1; background: 00ffff;}
main{grid-area: main1; background: white; max-height: 100%;}
/* #aside1 {grid-area: aside1; background: whitesmoke;}
#aside2 {grid-area: aside2; background: whitesmoke;} */
footer {grid-area: foot1; background:  00ffff;}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li {
    list-style: none;]
}

@media screen 
 and (min-width: 641px)
 and (max-width: 900px){

    .container{
        grid-template-columns:
            1fr 1fr;

        grid-template-areas:
        "header1 header1"
        "nav1 nav1"
        "main1 main1"
        "foot1 foot1"
    }
}

@media screen and (max-width: 640px) {
    .container{
        grid-template-columns: 
        1fr;
        grid-template-areas: 
            "header1"
            "main1"
            "nav1"
            "foot1";
    }

    nav ul{
        flex-flow:  column nowrap;
        text-align: center;
    }
    nav ul li a {
        display: block;
        padding: 5px 5px;
        margin: 5px;
        border: 1px black solid;
        background: white;
    }
}

