/* @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather&display=swap');


body {

    background-color: #c5fffb;
    font-family: 'Roboto', sans-serif;
    font-size: 18px
}


p{
    color: rgb(10,10,10);
    line-height: 1.3em;
    text-indent: 50px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background: #c5fffb;
    display: grid;
    width: 100vw;
    height: 100vh;
}

h1,h2,h3{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}


.sr-only{
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a{
    font-family: 'Roboto Mono', monospace;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}


nav ul li{
    list-style: none;

}

nav ul li a{
    text-decoration: none;
    font-size: 1.8;
}

nav ul li a:link{
    color: blue;
}

nav ul li a:hover{
    color: white;
}

nav ul li a:visited{
    color: red;
}

nav ul li a:active{
    color: blue;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}



/* FORM CSS BELOW */

input:focus {
    background: black;
    color: white;
    border: 4px solid yellow;
  
  }
  input:valid {
    border: 2px solid green;
  }
  
  input:invalid {
    border: 1px dotted red;
  }
  
  label
   {
    display: block;
    margin-bottom: 10px;
  }
  
  /*will target any field that is not submit and is valid*/
  input:not([type="submit"]):valid {
      border-color: #3d9ca8;
      box-shadow: 0 0 3px #3d9ca8;
  }
  
  /* Hide and show list of inputRequirements when interacting with input */
  input:not([type="submit"]) + .inputRequirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
  }
  
  input:not([type="submit"]):hover + .inputRequirements,
  input:not([type="submit"]):focus + .inputRequirements,
  input:not([type="submit"]):active + .inputRequirements {
    max-height: 1000px; /* any large number (bigger then the .inputRequirements list) */
    transition: max-height 1s ease-in;
  }

  /* FORM CSS ABOVE */