/* @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather&display=swap');


body {

    background-color: #FFFCB1;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px
}
p{
    color: rgb(10,10,10);
    line-height: 1.3em;
}

.container{
    max-width: 960px;
    margin:0 auto;
}

h1,h2,h3{
    font-family: 'Merriweather', serif;
}


.sr-only{
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

nav ul li{
    list-style: none;

}

nav ul li a{
    text-decoration: none;
    font-size: 1.8;
}

nav ul li a:link{
    color: white;
}

nav ul li a:hover{
    color: white;
}

nav ul li a:visited{
    color: red;
}

nav ul li a:active{
    color: blue;
}